<!DOCTYPE html>
<html>
<head>
    <title>Decento - Ordrer</title>
<% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<body>
<div class="whiteout">
    <div class="content-wrap">

            <h1>Alle afvendtene ordrer</h1>
            <a href="/profile">< Tilbage til profil</a><br>
            <%if (message.length > 0) { %>
                <div class="alert"><%= message %></div><br>
            <% } %>
            <p>Samtlige afventende ordrer er listet herunder: (<%= orders.length %> ordrer venter på svar i alt)</p>

        <% for(var i=orders.length; i > 0; i--) {%>
            <div class="news-container <%= orders[i-1].customerResponse.accepted %>">
                <div class="headline-wrap <%=orders[i-1].order.ordertype%>">
                    <h3>Ordretype: <%= orders[i-1].order.ordertype %></h3>
                </div>
                <p>
                    <strong>Ordre ID:</strong> <%= orders[i-1]._id %><br>
                    <strong>Oprettet:</strong> <%= orders[i-1].order.dateCreated %><br>
                    <strong>Bestilt af:</strong> <a href="/displayuser/<%= orders[i-1].order.customerId %>"><%= orders[i-1].order.customerId %></a><br>
                    <strong>Ønsket dato:</strong> <%= orders[i-1].order.wantedDate %><br>
                    <strong>Detaljer:</strong> <%= orders[i-1].order.details %><br>
                    <strong>Status:</strong> <%= orders[i-1].response.status %><br>
                    <strong>Sat dato:</strong> <%= orders[i-1].response.actualDate %><br><br>
                    <strong>Kommentarer fra DECENTO:</strong> <%= orders[i-1].response.comments %><br>
                    <strong>Pris:</strong> <u><%= orders[i-1].response.price %></u><br>
                    <strong>Kundens accept:</strong> <%= orders[i-1].customerResponse.accepted %><br>
                    <strong>Download link:</strong> <a href="<%= orders[i-1].response.downloadLink %>"><%= orders[i-1].response.downloadLink %></a><br>
                    <br>
                    <a href="/displayorder/<%= orders[i-1]._id %>">Rediger ordre</a><br>
                    <a href="/deleteorder/<%= orders[i-1].order.customerId %>/<%= orders[i-1]._id %>">Slet denne ordre</a>
                </p>
            </div>
        <% } %>
        <a href="/profile">< Tilbage til profil</a><br><br>

    </div>
</div>
<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>