<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Decento - Ordrer</title>
<% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<body>
<div class="whiteout">
    <div class="content-wrap">

            <h1>Alle ordrer</h1>

        <%try{ for(var i=orders.length; i > 0; i--) {%>
            <div class="news-container">
                <div class="headline-wrap">
                    <h3>Ordretype: <%= orders[i-1].order.ordertype %></h3>
                </div>
                    <p>Ordre ID: <%= orders[i-1]._id %></p>
                    <p>Detaljer: <%= orders[i-1].order.text %></p>
                    <p>Oprettet: <%= orders[i-1].order.date %></p>
                    <p>Bestilt af: <a href="/displayuser/<%= orders[i-1].order.customerId %>"><%= orders[i-1].order.customerId %></a></p>
                    <p>Status: <%= orders[i-1].order.status %></p>
                    <br>
                    <a href="/deleteorder/<%= orders[i-1].order.customerId %>/<%= orders[i-1]._id %>">Slet denne ordre</a>
                    <a href="/updateorder/<%= orders[i-1]._id %>/Accepteret">Accepter denne ordre</a>
                    <a href="/updateorder/<%= orders[i-1]._id %>/Afvist">Afvis denne ordre</a>
            </div>
                    
        <% }} catch(err){} %>

    </div>
</div>
<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>