<!DOCTYPE html>
<html>
<head>
    <title>Decento - Profil</title>
<% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<!--
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head> !-->
<body>
<div class="whiteout">
    <div class="content-wrap">

        <h1>Profil</h1>
        <a href="/logout">Log ud</a>
            <p>
                <strong>id</strong>: <%= user._id %><br>
                <strong>username</strong>: <%= user.local.username %><br>
            </p>
        
            <%try{if (message.length > 0) { %>
                <div class="alert"><%= message %></div>
            <% }} catch(err) {} %>
            
    <!-- HVIS BRUGER -->
        <h1>Opdater brugeroplysninger</h1>

        <form action="/updateuser" method="POST" id="infoForm">
            <label>Fornavn:</label>
            <% if (user.userinformation.firstName) { %>
            <input type="text" name="firstName" value="<%=user.userinformation.firstName%>">
            <% } else { %>
            <input type="text" name="firstName" placeholder="(ikke udfyldt)">
            <% } %>

            <label>Efternavn:</label>
            <% if (user.userinformation.lastName) { %>
            <input type="text" name="lastName" value="<%=user.userinformation.lastName%>">
            <% } else { %>
            <input type="text" name="lastName" placeholder="(ikke udfyldt)">
            <% } %>

            <label>Telefon nr.:</label>
            <% if (user.userinformation.phone) { %>
            <input type="text" name="phone" value="<%=user.userinformation.phone%>">
            <% } else { %>
            <input type="text" name="phone" placeholder="(ikke udfyldt)">
            <% } %>

            <label>Email:</label>
            <% if (user.userinformation.email) { %>
            <input type="text" name="email" value="<%=user.userinformation.email%>">
            <% } else { %>
            <input type="text" name="email" placeholder="(ikke udfyldt)">
            <% } %>


            


            <button type="submit">Opdater</button>
        </form>
    </div>
</div>
<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>