<!DOCTYPE html>
<html>
<head>
    <title>Decento - Ordrer</title>
<% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<body>
<div class="whiteout">
    <div class="content-wrap">

            <h1>Rediger ordre</h1>
            <a href="javascript:history.back()">< Gå tilbage</a><br><br>
            <%if (message.length > 0) { %>
                <div class="alert"><%= message %></div><br>
            <% } %>

        <% for(var i=0; i < orders.length; i++) {%>
            <div class="news-container">
                <div class="headline-wrap <%=orders[i].order.ordertype%>">
                    <h3>Ordretype: <%= orders[i].order.ordertype %></h3>
                </div>
                <p>
                    <strong>Ordre ID:</strong> <%= orders[i]._id %><br>
                    <strong>Oprettet:</strong> <%= orders[i].order.dateCreated %><br>
                    <strong>Bestilt af:</strong> <a href="/displayuser/<%= orders[i].order.customerId %>"><%= orders[i].order.customerId %></a><br>
                    <strong>Ønsket dato:</strong> <%= orders[i].order.wantedDate %><br>
                    <strong>Detaljer:</strong> <%= orders[i].order.details %><br>
                    <br>
                    <form action="/updateorder/<%= orders[i]._id %>" method="POST" id="orderForm">
                    <p>   
                        <strong>Status:</strong>
                            <select name="status" style="width:100%;padding: 10px 10px 10px 10px;"required>

                                <% if(orders[i].response.status == 'Venter på bekræftelse') {%>
                                    <option selected value="Venter på bekræftelse">Venter på bekræftelse</option>
                                <% } else { %>
                                    <option value="Venter på bekræftelse">Venter på bekræftelse</option>
                                <% } %>
                                

                                <% if(orders[i].response.status == 'Accepteret') {%>
                                <option selected value="Accepteret">Accepteret</option>
                                <% } else { %>
                                <option value="Accepteret">Accepteret</option>
                                <% } %>

                                <% if(orders[i].response.status == 'Afvist') {%>
                                    <option selected value="Afvist">Afvist</option>
                                <% } else { %>
                                    <option value="Afvist">Afvist</option>
                                <% } %>

                            </select>
                        <strong>Sat dato:</strong> 
                            <input id="date" type="date" name="date" style="height:30px;width:100%;margin-top:10px;margin-bottom:10px;" value="<%= orders[i].response.actualDate %>">
                        <strong>Kommentarer fra DECENTO:</strong>
                            <textarea rows="10" name="comments" form="orderForm"><%=orders[i].response.comments%></textarea>
                        <strong>Pris:</strong>
                            <input type="text" name="price" value="<%=orders[i].response.price%>">
                        <strong>Kundens accept:</strong>

                            <% if(orders[i].customerResponse.accepted) { %>
                            <%= orders[i].customerResponse.accepted %><br>
                            <% } else { %>
                                (Afventer svar)<br>
                            <% } %>
                        <strong>Download link:</strong>
                            <input type="text" name="downloadLink" value="<%=orders[i].response.downloadLink%>"><%=orders[i].response.downloadLink%>
                        <br>
                        
                        <a href="#" onclick="document.getElementById('orderForm').submit()">Opdater ordre</a><br>
                        <a href="/deleteorder/<%= orders[i].order.customerId %>/<%= orders[i]._id %>">Slet denne ordre</a>
                    </p>
                    </form>
                </p>
            </div>
        <% } %>
        <a href="javascript:history.back()">< Gå tilbage</a>
    </div>
</div>
<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>