<!DOCTYPE html>
<html>
<head>
    <title>Decento - Vis bruger</title>
<% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<body>
    <div class="whiteout">
        <div class="content-wrap">
            <h1><%= founduser.local.username %> (<%= founduser.local.role %>)</h1>
            <a href="javascript:history.back()">< Gå tilbage</a><br>

                <p>
                <strong>Id:</strong> <%= founduser._id %><br>
                <strong>Password:</strong> <%= founduser.local.password %><br>
                </p>
                
                <% if (founduser.local.role == 'Firma') { %>
                    <h3>Kontaktperson:</h3>
                <% } %>
                
                <p>
                <strong>Fornavn:</strong> <%= founduser.userinformation.firstName %><br>
                <strong>Efternavn:</strong> <%= founduser.userinformation.lastName %><br>
                <strong>Adresse:</strong> <%=founduser.userinformation.adress%><br>
                <strong>Postnummer:</strong> <%=founduser.userinformation.postalcode%><br>
                <strong>By:</strong> <%=founduser.userinformation.city%><br>
                <strong>Telefon nr.:</strong> <a href="tel:<%= founduser.userinformation.phone %>" title="Ring op!"><%= founduser.userinformation.phone %></a><br>
                <strong>Email:</strong> <a href="mailto:<%= founduser.userinformation.email %>"><%= founduser.userinformation.email %></a><br>
                </p>

                <% if (founduser.local.role == 'Firma') { %>

                <h3>Firmaoplysninger:</h3>

                <p>    
                <strong>Firmanavn:</strong> <%=founduser.firminformation.firmName%><br>
                <strong>Adresse:</strong> <%=founduser.firminformation.adress%><br>
                <strong>Postnummer:</strong> <%=founduser.firminformation.postalcode%><br>
                <strong>By:</strong> <%=founduser.firminformation.city%><br>
                <strong>Telefon nr.:</strong> <%=founduser.firminformation.phone%><br>
                <strong>Email:</strong> <%=founduser.firminformation.email%><br>
                </p>
                    
                <% } %>

            <a href="javascript:history.back()">< Gå tilbage</a>
        </div>
    </div>

<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>