<!DOCTYPE html>
<html>
<head>
    <title>Decento - Vis bruger</title>
<% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<body>
    <div class="whiteout">
        <div class="content-wrap">
            <h1>Bruger</h1>
            <div class="news-container">
                <div class="headline-wrap">
                    <h3>Brugernavn: <%= founduser.local.username %></h3>
                </div>
                <p>
                Id: <%= founduser._id %><br>
                Role: <%= founduser.local.role %><br>
                Password: <%= founduser.local.password %><br>
                <br>
                Fornavn: <%= founduser.userinformation.firstName %><br>
                Efternavn: <%= founduser.userinformation.lastName %><br>
                Telefon nr.: <a href="tel:<%= founduser.userinformation.phone %>"><%= founduser.userinformation.phone %></a><br>
                Efternavn nr: <%= founduser.userinformation.email %><br>
            </div>
            <a href="javascript:history.back()">< Gå tilbage</a>
        </div>
    </div>

<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>