<!-- test.ejs -->
<!doctype html>
<html>
<head>
    <title>Decento - Nyheder</title>
<% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<body>
    <div class="whiteout">
        <div class="content-wrap">
            
            <h1>Nyheder</h1>
                <% for(var i=posts.length; i > 0; i--) {%>
                        <div class="news-container">
                            <div class="headline-wrap">
                                <h3><%= posts[i-1].local.headline %></h3>
                                <p>Oprettet: <%= posts[i-1].local.date %></p>
                            </div>
                            <div class="pre-line">
                                <%if(posts[i-1].local.imagePath.length > 0) {%>
                                    <img src="<%= posts[i-1].local.imagePath %>">
                                <%}%>
                                <p><%= posts[i-1].local.text %></p>
                            </div>
                            <% try { if (user.local.role === 'Admin'){ %>
                            <br>
                            <a href="/deletepost/<%= posts[i-1]._id %>">Delete</a>
                            <%}}catch(err){}%>
                        </div>
                <% } %>
        </div>
    </div>

<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>