<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Profile</title>
<% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<body>
<div class="whiteout">
    <div class="content-wrap">

            <h1>Ordrer</h1>
            <a href="/logout">Logout</a>

                    <h3>Viser ordrer for</h3>

                        <p>
                            <strong>id</strong>: <%= user._id %><br>
                            <strong>username</strong>: <%= user.local.username %><br>
                            <strong>role</strong>: <%= user.local.role %><br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>
        

        <%try{ for(var i=orders.length; i > 0; i--) {%>

            <div class="news-container">
                <div class="headline-wrap">
                    <h3>Ordretype: <%= orders[i-1].order.ordertype %></h3>
                </div>
                    <p>Detaljer: <%= orders[i-1].order.text %></p>
                    <p>Oprettet: <%= orders[i-1].order.date %></p>
            </div>
                    
        <% }} catch(err){} %>

    </div>
</div>
<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>