<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Profile</title>
<% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<!--
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head> !-->
<body>
<div class="whiteout">
    <div class="content-wrap">

            <h1>Profile Page</h1>
            <a href="/logout">Logout</a>

            <!-- LOCAL INFORMATION -->
                    <h3>User information</h3>

                        <p>
                            <strong>id</strong>: <%= user._id %><br>
                            <strong>username</strong>: <%= user.local.username %><br>
                            <strong>role</strong>: <%= user.local.role %><br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>
        
    <% if (user.local.role === 'Admin'){ %>
        <form action="/postNews" method="POST" id="newsForm">
            <input type="text" placeholder="Overskrift" name="Overskrift">
            <input name="myImage" type="file">
            <textarea rows="10" name="TxtForm" form="newsForm" placeholder="Enter text here..."></textarea>
            <button type="submit">Submit</button>
        </form>
    <%}%>

    </div>
</div>
<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>