<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Profile</title>
<% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<!--
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head> !-->
<body>
<div class="whiteout">
    <div class="content-wrap">

        <h1>Profil</h1>
        <a href="/logout">Logout</a>
            <p>
                <strong>id</strong>: <%= user._id %><br>
                <strong>username</strong>: <%= user.local.username %><br>
                <strong>role</strong>: <%= user.local.role %><br>
                <strong>password</strong>: <%= user.local.password %>
            </p>
        
            <%try{if (message.length > 0) { %>
                <div class="alert"><%= message %></div>
            <% }} catch(err) {} %>

      

        
    
    <!-- HVIS ADMIN -->
    <% if (user.local.role === 'Admin'){ %>
        <a href="/alleordrer">Se alle ordrer</a>

        <h1>Opret nyhed</h1>

        <form action="/postnews" method="POST" id="newsForm" enctype="multipart/form-data">
            <label>Tilføj et billede:</label>
            <br><br>
            <input type="file" name='recfile' placeholder="Tilføj et billede"/>
            <br><br>
            <label>Overskrift:</label>
            <input type="text" placeholder="Overskrift" name="headline">
            <label>Tekst:</label>
            <textarea rows="10" name="txtArea" form="newsForm" placeholder="Tilføj tekst her..."></textarea>
            <button type="submit">Opret</button>
        </form>
    <%}%>

    <!-- HVIS BRUGER -->
    <% if (user.local.role === 'Firma' || user.local.role === 'Bruger'){ %>
        
        <h1>Opret ordre</h1>

        <form action="/placeorder" method="POST" id="orderForm">
            <input type="hidden" placeholder="Overskrift" name="userId" value="<%= user._id %>">
            <label>Type:</label>
            <br><br>
            <select name="type" style="width:100%;padding: 13px 13px 13px 13px;" required>
                <option value="Ejendomsfoto">Ejendomsfoto</option>
                <option value="Produktfoto">Produktfoto</option>
                <option value="Andet">Andet</option>
            </select> 
            <br><br>
            <label>Detaljer:</label>
            <textarea rows="10" name="txtArea" form="orderForm" placeholder="Tilføj detaljer om din ordre..."></textarea>
            <button type="submit">Opret</button>
        </form>
        <br><br>
        <h1>Dine ordrer:</h1>
        <%try{ for(var i=orders.length; i > 0; i--) {%>
            
                        <div class="news-container">
                            <div class="headline-wrap">
                                <h3>Ordretype: <%= orders[i-1].order.ordertype %></h3>
                            </div>
                                <p>Ordre ID: <%= orders[i-1]._id %></p>
                                <p>Detaljer: <%= orders[i-1].order.text %></p>
                                <p>Oprettet: <%= orders[i-1].order.date %></p>
                                <p>Status: <%= orders[i-1].order.status %></p>
                                <br>
                                <a href="/deleteorder/<%= orders[i-1].order.customerId %>/<%= orders[i-1]._id %>">Slet denne ordre</a>
                        </div>
                                
        <% }} catch(err){} %>
    <%}%>

    </div>
</div>
<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>